MONGO_URI=
#AUTH_SECRET=une_chaine_aleatoire_longue   # openssl rand -hex 32
AUTH_URL=http://localhost:4321

# Si Google
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...

# Si GitHub
GITHUB_ID=...
GITHUB_SECRET=...